extends layout

block content
  h1= title
  h2 Your CPD Manager
  p #{CPD_list}

  if error
    p Error getting your CPD data, please login and refresh. 
  else
    if CPD_list
      each cpdObject in CPD_list
        li
          a(href=cpdObject.url) #{cpdObject.title}
    else
      p You have no CPD Activity, create an activity to get started. 


